.box {
    border: 3px solid;
    border-color: antiquewhite;
}
.menubox {
    border: 2px solid;
    width: 310px;
    height: 1000px;
    background-color: rgb(71, 34, 206);
    margin-left: -10px;
}
.menu { 
    margin-top: 300px;
}
#topbox {
    margin-left: 305px;
    margin-top: -1005px;
    border-radius: 15px;
    width: 1390px;
    height: 230px;
}

#midbox {
    margin-left: 305px;
    margin-top: 0px;
    border-radius: 15px;
    width: 1390px;
    height: 350px;
}

#bottombox {
    margin-left: 305px;
    margin-top: 0px;
    border-radius: 15px;
    width: 1390px;
    height: 410px;
}